<section id="end" style="font-family: Montserrat,sans-serif;display: flex; flex-direction: column">
    <h3 style="text-transform: uppercase; font-weight: lighter">Join us</h3>
    <h1>@Sahlal</h1>
    <div class="non-slide">
        <div>
            <img src="{{'end.jpg' | asset_url}}" alt=""/>
        </div>
        <div>
            <img src="{{'end.jpg' | asset_url}}" alt=""/>
        </div>
        <div>
            <img src="{{'end.jpg' | asset_url}}" alt=""/>
        </div>
        <div>
            <img src="{{'end.jpg' | asset_url}}" alt=""/>
        </div>
        <div>
            <img src="{{'end.jpg' | asset_url}}" alt=""/>
        </div>

    </div>
    <article style="display: flex; flex-direction: row; width: 90%;gap: 2%; text-align: center;padding-bottom: 40vh ">
        <div class="detail">
            <svg aria-hidden="true" focusable="false" fill="none" stroke-width="1" width="24" class="hidden sm:block icon icon-picto-box" viewBox="0 0 24 24">
                <path clip-rule="evenodd" d="M.75 5.25 12 9.75l11.25-4.5L12 .75.75 5.25Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                <path clip-rule="evenodd" d="M.75 5.25v13.5L12 23.25V9.75L.75 5.25v0Zm22.5 0v13.5L12 23.25V9.75l11.25-4.5v0Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="m18.187 7.275-11.25-4.5M20.625 16.5l-1.875.75" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <h4>Express delivery</h4>
            <p>ARAMEX express delivery worldwide (Amana Delivery if within Morroco)</p>
        </div>
        <div class="detail">
            <svg aria-hidden="true" focusable="false" fill="none" stroke-width="1" width="24" class="hidden sm:block icon icon-picto-return" viewBox="0 0 24 24">
                <path d="m1.25 15.08 2.207-3.384 3.385 2.206" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M13.13 2.5a9.525 9.525 0 1 1 0 19.049 9.68 9.68 0 0 1-9.673-9.853" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <h4>Free returns</h4>
            <p>Free return for 30 days for any order delivered in Morroco</p>
        </div>
        <div class="detail">
            <svg aria-hidden="true" focusable="false" fill="none" stroke-width="1" width="24" class="hidden sm:block icon icon-picto-chat" viewBox="0 0 24 24">
                <path clip-rule="evenodd" d="M11.25 18.75a1.5 1.5 0 0 1-1.5-1.5v-7.5a1.5 1.5 0 0 1 1.5-1.5h10.5a1.5 1.5 0 0 1 1.5 1.5v7.5a1.5 1.5 0 0 1-1.5 1.5h-1.5v4.5l-4.5-4.5h-4.5Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="m6.75 12.75-3 3v-4.5h-1.5a1.5 1.5 0 0 1-1.5-1.5v-7.5a1.5 1.5 0 0 1 1.5-1.5h10.5a1.5 1.5 0 0 1 1.5 1.5v3" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <h4>Available customer service</h4>
            <p>Available via Whatsapp on +33123456789</p>
        </div>
        <div class="detail">
            <svg aria-hidden="true" focusable="false" fill="none" stroke-width="1" width="24" class="hidden sm:block icon icon-picto-credit-card" viewBox="0 0 24 24">
                <path clip-rule="evenodd" d="M.75 5.25a1.5 1.5 0 0 1 1.5-1.5h19.5a1.5 1.5 0 0 1 1.5 1.5v13.5a1.5 1.5 0 0 1-1.5 1.5H2.25a1.5 1.5 0 0 1-1.5-1.5V5.25Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                <path d="M.75 8.25h22.5m-18 4.5h8.25m-8.25 3h5.25" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
            <h4>Payment in 3x</h4>
            <p>Take advantage of a payment in 3x without fees from 1000DH ($100) of purchase</p>
        </div>
    </article>
</section>
<style>
    .non-slide{
        display: flex;
        flex-direction: row;
        gap: 2%;
        width: 90%;
        margin-top: 2rem;
    }
    .non-slide div{
        flex: 1 20%;
        width: 100%;
        height: 40vmin;
        object-fit: cover;
        overflow: hidden;
    }
    .non-slide img{
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform 4s ease-out ;

    }
    .non-slide img:hover{
        transform: scale(1.2);
    }
    .detail h4{
        color: #3F3F3F;
    }
    .detail{
        line-height: 1.5em;
        margin-top: 5rem;
        flex: 1 20%;
    }
    #end{
        width: 100%;
    }
</style>